<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>Manage Products | Admin Operations</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <main>
        
    </main>
</body>
<!--<script type="text/javascript" src="scripts/products_scripts.js"></script>-->

</html>