<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
    <title>Home - Levior Energy | Tech-Solutions</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Levior Energy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="/users">Users</a>
                        </li>
                    </ul>
                    <!-- LOGOUT BTN -->
                        <form class="form-inline my-2 my-lg-0 navbar-nav" role="logout" action='/logout?_method=DELETE' method="POST">
                            <li class="nav-item text-center">
                                <a class="nav-link disabled"><%= username %>  <%= lastname %> </a>
                            </li>
                            <button class="btn btn-outline-danger" type="submit">Log Out</button>
                        </form>
                </div>
            </div>
        </nav>
    </header>

    <!-- MAIN AND ELEMENTS TO LOAD -->
    <main>
        <p class="h1">Home</p>
        <p class="h3">Available Tools</p>
        <%
            const permissionsForProductsView = ['*'];
            const permissionsForCustomerView = ['*'];
            const permissionsForProjectsView = ['*'];

            const permissionsForDataManagement = [permissionsForProductsView, permissionsForCustomerView, permissionsForProjectsView].flat();

        %>
        <% if (permissionsForDataManagement.some(r=> views.includes(r))) { %>
            <div class="row">
            <p class="h4 mt-3 mb-0">Data Management</p>
                <!-- CHECK PERMISSIONS FOR PRODUCTS -->
                <% if (permissionsForProductsView.some(r=> views.includes(r))) { %>
                    <div class="col-sm-4 mt-3 col-lg-4">
                        <div class="card h-100">
                            <div class="card-header">Data Management</div>
                            <div class="card-body">
                                <h5 class="card-title">Products</h5>
                                <p class="card-text">Admin Operations. Administrate the product databases content.</p>
                                <a href="/products" class="btn btn-success">Open Tool</a>
                            </div>
                        </div>
                    </div>
                <% } %>

                <!-- CHECK PERMISSIONS FOR CUSTOMER -->
                <% if (permissionsForCustomerView.some(r=> views.includes(r))) { %>
                    <div class="col-sm-4 mt-3 col-lg-4">
                        <div class="card h-100">
                            <div class="card-header">Data Management</div>
                            <div class="card-body">
                                <h5 class="card-title">Customers</h5>
                                <p class="card-text">Admin Operations. Administrate the customer databases content.</p>
                                <a href="/customers" class="btn btn-success">Open Tool</a>
                            </div>
                        </div>
                    </div>
                <% } %>

                <!-- CHECK PERMISSIONS FOR POJECTS -->
                <% if (permissionsForProjectsView.some(r=> views.includes(r))) { %>
                    <div class="col-sm-4 mt-3 col-lg-4">
                        <div class="card h-100">
                            <div class="card-header">Data Management</div>
                            <div class="card-body">
                                <h5 class="card-title">Projects</h5>
                                <p class="card-text">Admin Operations. Generate and manage new projects.</p>
                                <a href="/projects" class="btn btn-success">Open Tool</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
        <% 
            const permissionsForPOGen = ['*','1'];
            const permissionsForPOSupply = ['*','2'];

            const permissionsForProcessing = [permissionsForPOGen, permissionsForPOSupply].flat();
        %>
        <% if (permissionsForProcessing.some(r=> views.includes(r))) { %>
            <div class="row">
            <p class="h4 mt-3 mb-0">Processing</p>
                <!-- CHECK PERMISSIONS TO LOAD PO GENERATOR-->
                <% if (permissionsForPOGen.some(r=> views.includes(r))) { %>
                    <div class="col-sm-4 mt-3 col-lg-4">
                        <div class="card h-100">
                            <div class="card-header">Processing</div>
                            <div class="card-body">
                                <h5 class="card-title">Purchase Order Generator</h5>
                                <p class="card-text">Generate new Purchase Orders and queue them to deliver.</p>
                                <a href="/PO_Generator" class="btn btn-primary">Open Tool</a>
                            </div>
                        </div>
                    </div>
                <% } %>

                <!-- CHECK PERMISSIONS TO LOAD PO SUPPLY-->
                <% if (permissionsForPOSupply.some(r=> views.includes(r))) { %>
                    <div class="col-sm-4 mt-3 col-lg-4">
                        <div class="card h-100">
                            <div class="card-header">Processing</div>
                            <div class="card-body">
                                <h5 class="card-title">Purchase Order Supply</h5>
                                <p class="card-text">Edit, validate and supply incoming Purchase Orders.</p>
                                <a href="/PO_Supply" class="btn btn-primary">Open Tool</a>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </main>
</body>
</html>