<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %> 
    <title>Login</title>
</head>

<body>
    <header>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Levior Energy
                </a>
            </div>
        </nav>
    </header>
    <main>
        <div class="row justify-content-center">
            <div class="col-4 align-items-center">
                <div class="d-flex justify-content-center mt-3">
                    <img src="/images/logo.png" width="249" height="78">
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <h2>Login</h2>
                </div>
                <div class="d-flex justify-content-center border border-primary pb-4 pt-4 rounded">
                    <form action="/login" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                            <!--<div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>-->
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
                
                    <% if(messages.error) { %>
                        <div class="d-flex justify-content-center mt-3">
                            <h4><%= messages.error %></h4>
                        </div>
                    <% } %>
            </div>
          </div>
        
    </main>
</body>

</html>