<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %> 
    <title>Purchase Order Supply Tool</title>
</head>

<body>
    <%- include('partials/header.ejs') %> 
    <main style="margin-left: 15px;margin-right: 15px;">
        <p class="h3">Purchase Order Supply</p>
        <div class="row align-items-start">
            <div class="col-sm-9">
                <div class="row align-items-start">
                    <div class="col-sm-9">
                        <!--FORM PO GENERATOR TODELIVER-->
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" >Project Name</span>
                            <input type="text" class="form-control" placeholder="Project Name" aria-label="placeholder"
                                aria-describedby="basic-addon1" id="input-name">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" >Ship TO</span>
                            <input type="text" class="form-control" placeholder="Ship To" aria-label="placeholder"
                                aria-describedby="basic-addon1" id="input-ship">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" >Requisitioner</span>
                            <input type="text" class="form-control" placeholder="Requisitioner" aria-label="placeholder"
                                aria-describedby="basic-addon1" id="input-req">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" >SHIP VIA</span>
                            <input type="text" class="form-control" placeholder="Ship VIA" aria-label="placeholder"
                                aria-describedby="basic-addon1" id="input-via">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" >F.O.B.</span>
                            <input type="text" class="form-control" placeholder="F.O.B." aria-label="placeholder"
                                aria-describedby="basic-addon1" id="input-fob">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1" >Shipping Terms</span>
                            <input type="text" class="form-control" placeholder="Shipping Terms"
                                aria-label="placeholder" aria-describedby="basic-addon1" id="input-terms">
                        </div>
                        <!--ITEM TABLE-->
                        <label for="basic-url" class="form-label h3">Items</label>
                        <table class="table table-striped" id="tablePO">
                            <thead>
                                <tr>
                                    <th scope="col">Model</th>
                                    <th scope="col">Alternative Model</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody class="editable-body" id="body-to-populate">
                            </tbody>
                        </table>
                    </div>
                    <!--MIDDLE COLUMN-->
                    <div class="col-3">
                        <p class="h6">Load PO</p>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01" style="width: auto;">PO No.</label>
                            <select class="form-select" id="inputGroupSelect01" onchange="selectPO()">
                                <option selected value="0">Choose...</option>
                                <% for(var i=0; i<poList.length; i++) { %>
                                    <option value="<%= poList[i] %> ">
                                        <%= poList[i] %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>
                        <p class="h6">PO Data</p>
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <th scope="row">Input Date</th>
                                    <td>03/09/2022</td>
                                </tr>
                                <tr>
                                    <th scope="row">Purchase Order No.</th>
                                    <td>ELP-2022-1</td>
                                </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--RIGHT BUTTON SET-->
            <div class="col-3">
                <p class="h4">Actions</p>
                <div class="d-grid gap-2">
                    <button class="btn btn-success" type="button" onclick="pushSupply()">Supply PO</button>
                    <button class="btn btn-secondary" type="button" onclick="window.print()">Print PDF</button>
                    <button class="btn btn-danger" type="button" onclick="clearAll()">Clear Form</button>
                    <a class="btn btn-primary" type="button" href="/">Return to Menu</a>
                </div>
            </div>
        </div>
    </main>
</body>
<script type="text/javascript" src="scripts/common_scripts.js"></script>
<script type="text/javascript" src="scripts/po_supply_scripts.js"></script>

</html>