<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %>
        <title>Manage Products | Admin Operations</title>
</head>

<body>
    <%- include('partials/header.ejs') %>

        <main>
            <!--NEW PRODUCT FORM-->
            <p class="h3">New product Form</p>
            <form action="api/products/" method="post" id="products-form">
                <div class="row align-items-start">
                    <div class="col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text">Category</span>
                            <input type="text" class="form-control" placeholder="Category" aria-label="placeholder"
                                id="category-input" name="category" maxlength="30" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">DLC</span>
                            <input type="text" class="form-control" placeholder="DLC OR ES MODEL NO."
                                aria-label="placeholder" id="dlc-input" name="dlc" maxlength="60" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Brand</span>
                            <input type="text" class="form-control" placeholder="Brand" aria-label="placeholder"
                                id="brand-input" name="brand" maxlength="30" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Specification</span>
                            <textarea class="form-control" aria-label="With textarea" id="specification-input"
                                name="specification" maxlength="150" form="products-form" required></textarea>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Subsidiary</span>
                            <input type="number" class="form-control" placeholder="Subsidiary" aria-label="placeholder"
                                id="subsidiary-input" name="subsidiary" step="any" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">Public Cost</span>
                            <input type="number" class="form-control" placeholder="Public Cost" aria-label="placeholder"
                                id="public-cost-input" name="publicCost" step="any" required>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="unit-input">Measurement Unit</label>
                            <select class="form-select" id="unit-input" name="unit" form="products-form" required>
                                <option selected value="">Choose...</option>
                                <option value="DOLLAR">DOLLAR</option>
                                <option value="EURO">EURO</option>
                            </select>
                        </div>
                    </div>
                    <!--BUTTONS COLUMN-->
                    <div class="col">
                        <p class="h4">Actions</p>
                        <div class="d-grid gap-2">
                            <input class="btn btn-success" type="submit" value="Create Product" />
                            <input class="btn btn-danger" type="reset" value="Clear Form" />
                            <a class="btn btn-primary" type="button" href="/">Return to Menu</a>
                        </div>
                    </div>
                </div>
            </form>
            <!--CURRENT PRODUCTS TABLE-->
            <p class="h3">Current Products</p>
            <table class="table table-sm table-striped table-bordered" id="table-products" style="margin-bottom: 30px;">
                <thead class="table-dark">
                    <tr class="text-center">
                        <th scope="col">ID</th>
                        <th scope="col">Category</th>
                        <th scope="col" style="width: 20%;">Specification</th>
                        <th scope="col">DLC#</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Subsidiary</th>
                        <th scope="col">Public Cost</th>
                        <th scope="col">Unit</th>
                        <th scope="col">Status</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody id="product-list">

                </tbody>
            </table>
            <!-- POP UP MODAL FORM FOR EDITING CONTENT -->
            <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="pop-up-content">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form action="/api/products/" method="post" id="change-form">
                            <div class="modal-header">
                                <h4 class="modal-title" id="exampleModalLabel">Edit Product Data</h4>
                            </div>
                            <div class="modal-body">
                                <div class="input-group mb-3">
                                    <span class="input-group-text">ID</span>
                                    <input type="number" class="form-control" placeholder="ID" aria-label="ID"
                                        id="id-input-modal" name="id" tabindex="-1" readonly>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Category</span>
                                    <input type="text" class="form-control" placeholder="Category"
                                        id="category-input-modal" name="category" maxlength="30" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">DLC</span>
                                    <input type="text" class="form-control" placeholder="DLC OR ES MODEL NO."
                                        aria-label="placeholder" id="dlc-input-modal" name="dlc" maxlength="60"
                                        required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Brand</span>
                                    <input type="text" class="form-control" placeholder="Brand" aria-label="placeholder"
                                        id="brand-input-modal" name="brand" maxlength="30" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Specification</span>
                                    <textarea class="form-control" aria-label="With textarea"
                                        id="specification-input-modal" name="specification" maxlength="150" form="change-form" required></textarea>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Subsidiary</span>
                                    <input type="number" class="form-control" placeholder="Subsidiary"
                                        aria-label="placeholder" id="subsidiary-input-modal"  name="subsidiary" step="any" required>
                                </div>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Public Cost</span>
                                    <input type="number" class="form-control" placeholder="Public Cost"
                                        aria-label="placeholder" id="public-cost-input-modal"  name="publicCost" step="any" required>
                                </div>
                                <div class="input-group mb-3">
                                    <label class="input-group-text" for="unit-input-modal">Measurement Unit</label>
                                    <select class="form-select" id="unit-input-modal" name="unit" form="change-form" required>
                                        <option selected value="">Choose...</option>
                                        <option value="DOLLAR">DOLLAR</option>
                                        <option value="EURO">EURO</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-check form-switch me-auto">
                                    <input class="form-check-input" type="checkbox" role="switch" id="activeSwitch"
                                        onchange="checkActivation();" checked />
                                    <label class="form-check-label">Active Product</label>
                                </div>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <input type="submit" class="btn btn-primary" id="bnt-save" value="Save Changes"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>
</body>
<script type="text/javascript" src="scripts/products_scripts.js"></script>

</html>