<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head.ejs') %> 
    <title>Manage Products | Admin Operations</title>
</head>

<body>
    <%- include('partials/header.ejs') %> 
    <main style="margin-left: 15px;margin-right: 15px;">
        <!--NEW PRODUCT FORM-->
        <p class="h1">New product Form</p>
        <div class="row align-items-start">
            <div class="col-sm-8">
                <div class="input-group mb-3">
                    <span class="input-group-text">Category</span>
                    <input type="text" class="form-control" placeholder="Category" aria-label="placeholder"
                        aria-describedby="basic-addon1" id="category-input">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" >DLC</span>
                    <input type="text" class="form-control" placeholder="DLC OR ES MODEL NO." aria-label="placeholder"
                        aria-describedby="basic-addon1" id="dlc-input">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Brand</span>
                    <input type="text" class="form-control" placeholder="Brand" aria-label="placeholder"
                        aria-describedby="basic-addon1" id="brand-input">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" >Specification</span>
                    <textarea class="form-control" aria-label="With textarea" id="specification-input"></textarea>
                  </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Subsidiary</span>
                    <input type="number" class="form-control" placeholder="Subsidiary" aria-label="placeholder"
                        aria-describedby="basic-addon1" id="subsidiary-input">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Public Cost</span>
                    <input type="number" class="form-control" placeholder="Public Cost" aria-label="placeholder"
                        aria-describedby="basic-addon1" id="public-cost-input">
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="unit-input" >Measurement Unit</label>
                    <select class="form-select" id="unit-input">
                      <option selected value="0">Choose...</option>
                      <option value="DOLLAR">DOLLAR</option>
                      <option value="EURO">EURO</option>
                    </select>
                  </div>
            </div>
            <!--BUTTONS COLUMN-->
            <div class="col">
                <p class="h4">Actions</p>
                <div class="d-grid gap-2">
                    <button class="btn btn-success" type="button" onclick="push_Product();">Create Product</button>
                    <button class="btn btn-danger" type="button" onclick="window.location.reload();">Clear Form</button>
                    <a class="btn btn-primary" type="button" href="/">Return to Menu</a>
                </div>
            </div>
        </div>
        <!--CURRENT PRODUCTS TABLE-->
        <p class="h1">Current Products</p>
        <table class="table table-sm table-striped table-bordered" id="table-products" style="margin-bottom: 30px;">
            <thead class="table-dark">
                <tr class="text-center">
                    <th scope="col">Category</th>
                    <th scope="col" style="width: 20%;">Specification</th>
                    <th scope="col">DLC#</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Subsidiary</th>
                    <th scope="col">Public Cost</th>
                    <th scope="col">Unit</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody id="product-list">
                
            </tbody>
        </table>
    </main>
</body>
<script type="text/javascript" src="scripts/products_scripts.js"></script>
</html>