<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include('partials/head.ejs') %>
        <title>Manage Projects | Admin Operations</title>
</head>

<body>
    <%- include('partials/header.ejs') %>
    <main>
        <p class="h1">LOADS</p>
    </main>
</body>
<script type="text/javascript" src="scripts/projects_scripts.js"></script>
</html>